h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28pt;
    color:blue;
}
p{
    font-family: Century Gothic;
    font-size: 11pt;
}
h2{
    color:white;
}
 /*CAJA AMARILLA*/
#caja_amarilla{                
    background-color: yellow;
}

 /*CAJA NARANJA*/
.Cajas_Rosa_con_Naranja{
    background-color: pink;
}
#Cajas_Rosa_con_Naranja{
    background-color: orange;
}

 /*CAJA MORADA*/
.Cajas_Verde_con_Morado{
    background-color: green;
}
#Cajas_Verde_con_Morado{
    background-color: blueviolet;
}
