body{
    margin: 0px;
    padding: 0px;
}
.padre{
    display: flex;
	flex-direction: row;
	font-family: "Arial" "Helvetica" sans-serif;
}
.izquierda{
    width: 50%;
	background-color: blue;
	font-family: "Gill Sans" "Extrabold" sans-serif;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 10px;
	gap: 10px;
}
.derecha{
    width: 50%;
	background-color: blue;
	font-family: "Gill Sans" "Extrabold" sans-serif;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	padding: 10px;
	gap: 10px;
}

.verde{
    background-color: greenyellow;
	font-family: "Helvetica" sans-serif;
	padding: 10px;
	gap: 10px;
	grid-column: span 2;
}
.amarillo{
    background-color: yellow;
	padding: 10px;
	gap: 10px;
}
.azul{
    background-color: darkturquoise;
	grid-column: span 2; /*para ocupar 2 columnas*/
	padding: 10px;
	gap: 10px;
}

footer{
    background-color: pink;
    text-align: center;
}