body{
    margin: 0px;
}
.parte_arriba{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.magenta{
    background-color: magenta;
    padding: 5%;
}
.amarillo{
    background-color: yellow;
    padding: 5%;
}
.rosa{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
}
.parte_medio{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.morada{
    background-color: blueviolet;
    padding: 2%;
    font-family: sans-serif;
    justify-content: center;
}
.verde{
    background-color: green;
    padding: 2%;
}
.parte_abajo{
    width: 100%;
}
.negra{
    justify-content: center;
    background-color: black;
    color: white;
}

